@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 200ms linear;
}

.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-6 {
    width: 50%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-5 {
    width: 41.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-2 {
    width: 16.67%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-4 {
    width: 33.33%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-8 {
    width: 66.66%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-12 {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
}

.col-3 {
    width: 25%;
    padding-right: 12px;
    padding-left: 12px;
}


:root {
    --ff-poppins: "poppins", sans-serif;
    --ff-roboto: "Roboto", sans-serif;
    --ff-roboto: "Rubik", sans-serif;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-26: 26px;
    --font-size-24: 24px;
    --font-size-25: 25px;
    --font-size-28: 28px;
    --font-size-30: 30px;
    --font-size-34: 34px;
    --font-size-35: 35px;
    --font-size-36: 36px;
    --font-size-40: 40px;
    --font-size-48: 48px;
    --font-size-50: 50px;

    --font-weight-sm: 400;
    --font-weight-md: 500;
    --font-weight-lg: 600;
    --font-weight-xl: 700;
    --font-weight-xxl: 800;

    --color-black: black;
    --color-white: white;
    --color-1A9-lgblue: #1A9FFF;
    --form-control-color: rebeccapurple;
    --color-0099: #00000099;
    --color-001A: #0000001A;
    --color-0033: #00000033;
    --color-0014: #00000014;
    --color-FAFA: #FAFAFA;
    --color-red: red;
    --color-red-f42: #F4241E;
    --color-red-f538: #F53855;
    --color-F6E3: #F6E300;
    --color-yellow-FFF03: #FFF03F;
    --color-darkblue: #0B132A;
    --color-lightgrey: #4F5665;
    --color-border-white: #EEEFF2;
    --color-white-fbfb: #FBFBFB;
    --color-white-dddd: #DDDDDD;
    --color-white-DDE0: #DDE0E4;
    --color-grey-AFB5: #AFB5C0;
    --color-grey-F8F8: #F8F8F8;

}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-space-btw {
    justify-content: space-between;
}

.justify-content-space-even {
    justify-content: space-evenly;
}

.justify-content-center {
    justify-content: center;
}

.flex-direction-col {
    flex-direction: column;
}

.gap-40 {
    gap: 40px;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-font-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.nav-font-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    position: relative;
    color: var(--color-lightgrey);
}

.vpn {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-xl);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.lasles {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.sign-up {
    padding: 11px 35px 11px 35px;
    border-radius: 50px;
    border: 1px solid var(--color-red-f538);
    background: var(--color-white);
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-red-f538);
    cursor: pointer;
}

.sign-up:hover {
    background: var(--color-red-f538);
    color: var(--color-white);
}

.nav-font-2:hover {
    color: var(--color-darkblue);
    -webkit-text-stroke-width: medium !important;
}

.sign-in:hover {
    color: var(--color-darkblue);
    -webkit-text-stroke-width: medium !important;
}

.sign-in {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--color-lightgrey);
    text-align: left;
    position: relative;
}

.w-100 {
    width: 100%;
}

.gap-10 {
    gap: 10px;
}

.gap-30 {
    gap: 30px
}

.overflow-img-position-relative {
    position: relative;
    height: 100%;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.nav-bar {
    position: fixed;
    padding: 10px 0;
    background-color: var(--color-white);
    z-index: 5;
    /* box-shadow: 0px 4px 35px 0px #00000014; */
}

.get-started {
    padding: 10px 30px;
    background: var(--color-red-f538);
    color: var(--color-white);
    border: 1px solid var(--color-red-f538);
    border-radius: 10px;
    box-shadow: rgb(162 6 6) 0px 22px 39px -19px, rgb(156 54 54 / 0%) 0px 30px 60px -30px;
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-xl);
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.get-started:hover {
    color: var(--color-red-f538);
    background-color: var(--color-white);
}

.section-2 {
    padding-top: 100px;
}

.heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-50);
    font-weight: var(--font-weight-md);
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.laslesvpn-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-50);
    font-weight: var(--font-weight-xl);
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.laslesvpn-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    color: var(--color-lightgrey);
}

.sec-2-para-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);
}

.overflow-img {
    position: unset;
    width: 100%;
    height: 100%;
}

.info-box {
    padding: 38px 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.info-box-lite {
    width: 205px;
}

.info-font-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-xl);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.info-font-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);
}

.border-right-1 {
    border-right: 2px solid var(--color-border-white);
}

.border-right-2 {
    border-right: 2px solid var(--color-border-white);
}

.mt-90 {
    margin-top: 90px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-35 {
    gap: 35px;
}

.w-33 {
    width: 33.33%;
}

.sec-3-font-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-35);
    font-weight: var(--font-weight-md);
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);

}

.sec-3-font-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);

}

.sec-3-font-3 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);
}

.mb-20 {
    margin-bottom: 20px;
}

/* sec-4 */
.sec-4-bg-color {
    background: var(--color-white-fbfb);
}

.sec-4-heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-35);
    font-weight: var(--font-weight-md);
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-darkblue);
}

.sec-4-para-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-lightgrey);
    max-width: 653px;
    margin-left: auto;
    margin-right: auto;
}

.plan-box {
    border: 2px solid var(--color-white-dddd);
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    background: var(--color-white);
    border-radius: 10px;
    height: 760px;
}

.plan-box:hover {
    border: 2px solid var(--color-red-f538);
}

.select-btn:hover {
    background-color: var(--color-red-f538);
    color: var(--color-white);
    box-shadow: rgb(162 6 6) 0px 22px 39px -19px, rgb(156 54 54 / 0%) 0px 30px 60px -30px;
}

/* .plan-box:hover .select-btn {
    background-color: var(--color-red-f538);
    color: var(--color-white);
    box-shadow: rgb(162 6 6) 0px 22px 39px -19px, rgb(156 54 54 / 0%) 0px 30px 60px -30px;
} */

.free-plan {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-darkblue);
}

.plan-box-font-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 28px;
    letter-spacing: 0em;
    color: var(--color-lightgrey);
}

.gap-25 {
    gap: 25px;
}

.gap-20 {
    gap: 20px;
}

.free {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-darkblue);
}

.select-btn {
    border: 2px solid var(--color-red-f538);
    border-radius: 50px;
    padding: 13px 62px;
    color: var(--color-red-f538);
    background: var(--color-white);

    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-xl);
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
    cursor: pointer;
}

.mt-130 {
    margin-top: 130px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-90 {
    margin-top: 90px;
}

.mb-30 {
    margin-bottom: 30px;
}

.h-100 {
    height: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.month-font-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-darkblue);
}

.month-font-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-25);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-lightgrey);
}

/* sec-5 */
.sec-5-bg-color {
    background: var(--color-white-fbfb);
}

.sec-5-heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-darkblue);
}

.sec-5-para-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--color-lightgrey);
}

.pt-80 {
    padding-top: 80px;
}

.pb-80 {
    padding-bottom: 80px;
}

.overflow-auto {
    overflow-x: auto;
}

.w-100px {
    width: 200px;
}

.p-15 {
    padding: 15px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* sec-6 */
.sec-6-heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    letter-spacing: 0em;
    color: var(--color-darkblue);

}

.sec-6-para {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 25px;
    letter-spacing: 0em;
    color: var(--color-lightgrey);

}

.justify-content-flex-end {
    justify-content: flex-end;
}

/* slider */

.box {
    border: 2px solid #DDDDDD;
    min-width: 200px !important;
    height: 310px;
    padding: 10px;
    border-radius: 10px;

}

.slick-para-3 {
    padding-top: 10px;
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.slick-slide.slick-current div .box {
    border: 2px solid var(--color-red-f538);
}

.prev {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--color-red-f538);
    background: var(--color-white);
    cursor: pointer;
    transition: all 200ms linear;
}

.next {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--color-red-f538);
    background: var(--color-white);
    cursor: pointer;
    transition: all 200ms linear;
}

.next:hover {
    background-color: var(--color-red-f538);

}

.next:hover path {
    fill: var(--color-white);
}

.prev:hover {
    background-color: var(--color-red-f538);

}

.prev:hover path {
    fill: var(--color-white);
}

.slick-dots li button:before {
    display: none;
}

.slick-dots li {
    background-color: var(--color-white-DDE0);
    border-radius: 50%;
}

.slick-dots .slick-active {
    width: 45px;
    background-color: var(--color-red-f538);
    border-radius: 10px;
}

.slick-dots {
    display: flex;
    margin-top: 10px;
    bottom: -70px;
    width: 50%;
}

.slick-arrow-buttons {
    display: none;
}


.gap-15 {
    gap: 15px;
}

.nav-font-2::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-darkblue);
    transition: all 200ms linear;
}

.nav-font-2:hover::before {
    width: 100%;
}

.sign-in::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-darkblue);
    transition: all 200ms linear;
}

.sign-in:hover::before {
    width: 100%;
}

.slick-box-heading {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: var(--font-weight-md);
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--color-darkblue);
}

.slick-box-address {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-sm);
    line-height: 20px;
    letter-spacing: 0em;
    color: var(--color-lightgrey);
}

.svg-no {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.slick-slide {
    margin-left: 20px;
    margin-right: 20px;
}

.slick-list {
    margin-left: -5px;
    margin-right: -5px;
}

.over-slider {
    z-index: 2;
}

.slick-list {
    overflow: visible;
    padding: 0 20% 0 0;
    position: relative;
}

.slick-list::after {
    content: ' ';
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 4000px;
    right: 100%;
    background-color: white;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-direction-col-unset {
    flex-direction: column;
}

.justify-content-right-unset {
    justify-content: right;
}

.mb-90 {
    margin-bottom: 90px;
}

.pb-20 {
    padding-bottom: 20px;
}

/* subscription-box */

.subscription-box {
    background-color: var(--color-white);
    padding: 15px 14px 15px 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

.s-box-heading {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.s-box-para {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);

}

.subscribe-now {
    padding: 10px 30px;
    background: var(--color-red-f538);
    color: var(--color-white);
    border: 1px solid var(--color-red-f538);
    border-radius: 10px;
    box-shadow: rgb(162 6 6) 0px 22px 39px -19px, rgb(156 54 54 / 0%) 0px 30px 60px -30px;
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-14);
    font-weight: var(--font-weight-xl);
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
}

.subscribe-now:hover {

    background-color: var(--color-white);
    color: var(--color-red-f42);
}

/* footer */
.footer-padding-t-20 {
    padding-top: 20px;
}

.footer-bg-color {
    background: var(--color-grey-F8F8);
}

.mt-30 {
    margin-top: 30px;
}

.footer-vpn {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-xl);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.footer-lasles {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-md);
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.footer-laslesvpn {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    color: var(--color-lightgrey);
}

.footer-para-1 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);
}

.copyright {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    color: var(--color-grey-AFB5);
}

.copyright-vpn {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    color: var(--color-grey-AFB5);
}

.footer-link-font-2 {
    font-family: "Rubik", sans-serif;
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-sm);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-lightgrey);
}

.footer-link-font-1 {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    font-weight: var(--font-weight-md);
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--color-darkblue);
}

.md-flex-direction-col-reverse {
    flex-direction: column-reverse;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.section-gradient {
    background: linear-gradient(0deg, rgba(248, 248, 248, 1) 50%, rgba(255, 255, 255, 1) 50%);
}

.sign-items {
    display: none;
}


@media (min-width:1200px) {

    .overflow-img {
        position: absolute;
        right: -15%;
    }

    .nav-padding-right-120 {
        padding-right: 120px !important;
    }

    .heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-50) !important;
        font-weight: var(--font-weight-md);
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .laslesvpn-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-50) !important;
        font-weight: var(--font-weight-xl);
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }
}

@media (min-width:992px) {
    .lg-col-4 {
        width: 33.33% !important;
        padding-right: 12px;
        padding-left: 12px;
    }

    .lg-mt-0 {
        margin-top: 0;
    }

    .lg-w-33 {
        width: 33.33% !important;
    }

    .nav-padding-right-120 {
        padding-right: 80px;
    }

    .lg-d-none {
        display: none;
    }

    .s-box-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-35) !important;
        font-weight: var(--font-weight-md);
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
        max-width: 370px !important;
    }

    .sec-3-font-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-35) !important;
        font-weight: var(--font-weight-md);
        line-height: 50px !important;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
        max-width: 383px;
    }

    .lg-mt-20 {
        margin-top: 20px;
    }

    .lg-mt-30 {
        margin-top: 30px;
    }

    .slick-box-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-18) !important;
        font-weight: var(--font-weight-md);
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--color-darkblue);
    }

    .slick-box-address {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-14) !important;
        font-weight: var(--font-weight-sm);
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--color-lightgrey);
    }

    .slick-para-3 {
        padding-top: 10px;
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16) !important;
        font-weight: var(--font-weight-sm);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .lg-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-40);
        font-weight: var(--font-weight-md);
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .laslesvpn-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-40);
        font-weight: var(--font-weight-xl);
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .lg-mb-50 {
        margin-bottom: 50px !important;
    }
}

@media (min-width:767.9px) {
    .md-col-4 {
        width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-col-8 {
        width: 66.66%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-col-5 {
        width: 41.66%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-mt-0 {
        margin-top: 0;
    }

    .md-mb-90 {
        margin-bottom: 90px;
    }

    .sec-6-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-35);
        font-weight: var(--font-weight-md);
        line-height: 50px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-darkblue);
        max-width: 447px;
        margin-right: auto;
        margin-left: auto;
    }

    .md-justify-content-flex-end {
        justify-content: flex-end;
    }

    .md-justify-content-center {
        justify-content: center;
    }

    .md-justify-content-space-btw {
        justify-content: space-between;
    }

    .footer-para-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-lightgrey);
        max-width: 340px;
    }

    .plan-box {
        border: 2px solid var(--color-white-dddd);
        padding-right: 70px !important;
        padding-top: 70px !important;
        padding-bottom: 50px;
        padding-left: 70px !important;
        background: var(--color-white);
        border-radius: 10px;
        height: 760px;
    }

    .slick-box-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-md);
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--color-darkblue);
    }

    .slick-box-address {
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        font-weight: var(--font-weight-sm);
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--color-lightgrey);
    }

    .slick-para-3 {
        padding-top: 10px;
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .md-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .md-flex-direction-col-reverse {
        flex-direction: unset;
    }

    .sec-3-font-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-md);
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
        max-width: 383px;
    }

    .s-box-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-md);
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
        max-width: 359px;
    }

    .sec-5-heading {
        font-family: "Rubik", sans-serif;
        font-size: 35px !important;
        font-weight: var(--font-weight-md);
        line-height: 50px !important;
        letter-spacing: 0em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-darkblue);
        max-width: 383px;
    }
}

@media (min-width:576px) {
    .sm-col-6 {
        width: 50%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-w-50 {
        width: 50%;
    }

    .sm-mt-0 {
        margin-top: 0;
    }

    .sm-col-4 {
        width: 33.33%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sm-col-3 {
        width: 25%;
        padding-right: 12px;
        padding-left: 12px;
    }

    .sign-items {
        display: flex;
    }

    .sm-d-none {
        display: none;
    }

    .info-box-lite {
        width: unset;
    }

    .sec-6-para {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-lightgrey);
        max-width: 555px;
        margin-left: auto;
        margin-right: auto;
    }

    .sec-6-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-25);
        font-weight: var(--font-weight-md);
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-darkblue);
        max-width: 447px;
        margin-right: auto;
        margin-left: auto;
    }

    .slick-box-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-md);
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--color-darkblue);
    }

    .slick-box-address {
        font-family: "Rubik", sans-serif;
        font-size: 12px;
        font-weight: var(--font-weight-sm);
        line-height: 20px;
        letter-spacing: 0em;
        color: var(--color-lightgrey);
    }

    .slick-para-3 {
        padding-top: 10px;
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .slick-arrow-buttons {
        display: flex;
    }

    .box {
        padding: 30px;
    }

    .flex-direction-col-unset {
        flex-direction: unset;
    }

    .justify-content-right-unset {
        justify-content: unset;
    }

    .plan-box {
        border: 2px solid var(--color-white-dddd);
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 50px;
        background: var(--color-white);
        border-radius: 10px;
        height: 760px;
    }

    .subscription-box {
        background-color: var(--color-white);
        padding: 70px 58px 70px 58px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
    }

    .subscribe-now {
        padding: 18px 78px;
        background: var(--color-red-f538);
        color: var(--color-white);
        border: 1px solid var(--color-red-f538);
        border-radius: 10px;
        box-shadow: rgb(162 6 6) 0px 22px 39px -19px, rgb(156 54 54 / 0%) 0px 30px 60px -30px;
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-xl);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }

    .get-started {
        padding: 18px 78px;
        background: var(--color-red-f538);
        color: var(--color-white);
        border: 1px solid var(--color-red-f538);
        border-radius: 10px;
        box-shadow: rgb(162 6 6) 0px 22px 39px -19px, rgb(156 54 54 / 0%) 0px 30px 60px -30px;
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-xl);
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
        cursor: pointer;
    }

    .sec-5-heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-28);
        font-weight: var(--font-weight-md);
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: var(--color-darkblue);
        max-width: 383px;
    }

    .sec-5-para-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-16);
        font-weight: var(--font-weight-sm);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: var(--color-lightgrey);
        max-width: 627px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width : 992px) {
    .menubox {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 7;
    }

    .menubox span {
        height: 4px;
        width: 100%;
        background-color: var(--color-lightgrey);
        border-radius: 10px;
        box-shadow: 3px 2px 2px 0px rgba(16, 17, 5, 0.3);
    }

    .navitems {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--color-white);
        z-index: 6;
    }

    .show {
        left: 0;
    }

    .lg-nav-flex-direction-colmn {
        flex-direction: column;
    }

    .lg-nav-gap-40 {
        gap: 40px;
    }

    .plan-box-mt-20 {
        margin-top: 20px;
    }

    .heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-md);
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .laslesvpn-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-30);
        font-weight: var(--font-weight-xl);
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }
}

@media (max-width : 767.9px) {


    .subscriptionbox-justify-content-center {
        justify-content: center;
    }

    .border-right-2 {
        border: unset;
    }

    .heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-40);
        font-weight: var(--font-weight-md);
        line-height: 55px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .laslesvpn-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-40);
        font-weight: var(--font-weight-xl);
        line-height: 70px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }
}

@media (max-width : 576px) {

    .border-right-1 {
        border: unset;
    }

    .slick-dots {
        left: 0;
        display: flex;
        margin-top: 10px;
        bottom: -27px;
        width: 100%;
        justify-content: center;
    }

    .slick-dots li {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        padding: 5px;

    }

    .heading {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-25);
        font-weight: var(--font-weight-md);
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .laslesvpn-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-25);
        font-weight: var(--font-weight-xl);
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);
    }

    .sec-3-font-1 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-24);
        font-weight: var(--font-weight-md);
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-darkblue);

    }

    .sec-3-font-2 {
        font-family: "Rubik", sans-serif;
        font-size: var(--font-size-14);
        font-weight: var(--font-weight-sm);
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color: var(--color-lightgrey);
    }

}